**/*.asm linguist-vendored
**/*.hack linguist-vendored
**/*.vm linguist-vendored
**/*.xml linguist-vendored
**/*.html linguist-vendored
**/*.tst linguist-vendored
**/*.cmp linguist-vendored
**/*.out linguist-vendored
**/*.jack linguist-vendored

**/*.hdl linguist-vendored=false
**/*.py linguist-vendored=false
